@charset "UTF-8";
/**
 * @license
 * MyFonts Webfont Build ID 3116104, 2015-10-28T22:31:07-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: FF DIN Web Bold by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-din/ot-bold/
 *
 * Webfont: FF DIN Web by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-din/ot-regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3116104
 * Licensed pageviews: 50,000
 * Webfonts copyright: 2009 Albert-Jan Pool published by FSI FontShop International GmbH
 *
 * © 2015 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f8c48");
@font-face {
  font-family: "FFDINWebBold";
  src: url(webfonts/2F8C48_0_0.eot);
  src: url(webfonts/2F8C48_0_0.eot?#iefix) format("embedded-opentype"), url("webfonts/2F8C48_0_0.woff2") format("woff2"), url("webfonts/2F8C48_0_0.woff") format("woff"), url("webfonts/2F8C48_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "FFDINWeb";
  src: url(webfonts/2F8C48_1_0.eot);
  src: url(webfonts/2F8C48_1_0.eot?#iefix) format("embedded-opentype"), url("webfonts/2F8C48_1_0.woff2") format("woff2"), url("webfonts/2F8C48_1_0.woff") format("woff"), url("webfonts/2F8C48_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "MrsEaves-Bold";
  src: url(webfonts/964727-682296_MrsEavesBold/mrseavbol-020415006EmigreWebOnly.eot);
  src: url(webfonts/964727-682296_MrsEavesBold/mrseavbol-020415006EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(webfonts/964727-682296_MrsEavesBold/mrseavbol-020415006EmigreWebOnly.woff2) format("woff2"), url(webfonts/964727-682296_MrsEavesBold/mrseavbol-020415006EmigreWebOnly.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MrsEaves-Roman";
  src: url(webfonts/964727-682296_MrsEavesRoman/mrseavrom-020415006EmigreWebOnly.eot);
  src: url(webfonts/964727-682296_MrsEavesRoman/mrseavrom-020415006EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(webfonts/964727-682296_MrsEavesRoman/mrseavrom-020415006EmigreWebOnly.woff2) format("woff2"), url(webfonts/964727-682296_MrsEavesRoman/mrseavrom-020415006EmigreWebOnly.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MrsEaves-Italic";
  src: url(webfonts/964727-682296_MrsEavesItalic/mrseavita-020415006EmigreWebOnly.eot);
  src: url(webfonts/964727-682296_MrsEavesItalic/mrseavita-020415006EmigreWebOnly.eot?#iefix) format("embedded-opentype"), url(webfonts/964727-682296_MrsEavesItalic/mrseavita-020415006EmigreWebOnly.woff2) format("woff2"), url(webfonts/964727-682296_MrsEavesItalic/mrseavita-020415006EmigreWebOnly.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
  Pulled from _s base.css



  Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: FFDINWeb, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus {
  color: #111;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links

a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}
--------------------------------------------------------------*/
a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100% !important;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

a:link,
a:visited {
  color: #231F20;
}

#page {
  margin: 25px auto;
  padding: 0 1.5em;
  max-width: 1040px;
}
@media screen and (max-width: 600px) {
  #page {
    padding: 0 1em;
  }
}

.site-header {
  margin: 0 auto;
}

.hero {
  margin: 10px 0 30px;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .hero {
    margin-bottom: 0;
  }
}
.hero img {
  display: block;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 10px;
}

@media screen and (max-width: 960px) {
  .page-template-default .hentry {
    max-width: 100%;
  }
}

.content-area b,
.content-area strong {
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: normal;
}
.content-area a:link,
.content-area a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #BE1E2D;
}
.content-area a:link:hover,
.content-area a:visited:hover {
  color: #BE1E2D;
}
.content-area a:link strong,
.content-area a:link b,
.content-area a:visited strong,
.content-area a:visited b {
  color: #231F20;
}
.content-area strong a:link,
.content-area strong a:visited,
.content-area b a:link,
.content-area b a:visited {
  color: #231F20;
}

.hentry {
  max-width: 75%;
}

.entry-content {
  margin: 0;
}
.entry-content ul,
.entry-content ol {
  margin-left: 0;
  padding-left: 16px;
}
.entry-content ul li,
.entry-content ol li {
  padding-bottom: 3px;
}
.entry-content p {
  margin: 1rem 0;
}

.all-caps {
  text-transform: uppercase;
}

h1,
h2 {
  font-family: MrsEaves-Bold, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  color: #BE1E2D;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

h2 + h4 {
  margin-top: -17px;
  font-weight: normal;
}

.home-hero {
  position: relative;
}

.home h2 {
  margin-top: 0;
}
.home .entry-header {
  background: url(./images/bm3_home_logo.png) no-repeat;
  background-size: 100%;
  height: 94px;
  width: 229px;
  margin: 43px auto 20px;
  font-size: 0;
  text-indent: -9999px;
}
@media screen and (max-width: 768px) {
  .home .entry-header {
    display: none;
  }
}
.home .entry-header h1 {
  margin: 0;
}
.home .hentry {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .home .hentry {
    position: static;
    width: 100%;
  }
}
.home .hentry .entry-content {
  width: 390px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .home .hentry .entry-content {
    text-align: left;
    width: 100%;
  }
}
.home .hentry .entry-content h2 {
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: normal;
  color: #231F20;
  text-transform: none;
  margin-bottom: 0;
}
.home .hentry .entry-content p {
  margin: 0;
  line-height: 24px;
}

.three-col {
  width: 37%;
  float: left;
  padding-right: 3%;
}
@media screen and (max-width: 768px) {
  .three-col {
    width: 100% !important;
    float: none;
  }
}
.three-col:last-of-type {
  width: 26%;
  padding: 0;
}

.four-col {
  width: 25%;
  float: left;
}

.site-header {
  position: relative;
}

.site-title,
.site-description {
  display: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-branding {
  float: left;
  margin: 0 10px 10px 0;
}
@media screen and (max-width: 768px) {
  .site-branding {
    transform: scale(1.05);
    transform-origin: left;
  }
}

.main-navigation {
  display: block;
  font-family: FFDINWeb, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .main-navigation {
    float: none;
  }
}
.main-navigation ul {
  float: right;
  list-style: none;
  margin: 26px 0 0;
  padding-left: 0;
}
@media screen and (max-width: 960px) {
  .main-navigation ul {
    display: none;
  }
}
.main-navigation ul .sub-menu {
  position: absolute;
  top: -2px;
  left: -999em;
  z-index: 99999;
  padding: 2px 12px;
  float: none;
  background: #fff;
}
.main-navigation ul .sub-menu ul {
  left: -999em;
  top: 0;
}
.main-navigation ul .sub-menu li {
  border-bottom: 1px solid #000;
}
.main-navigation ul .sub-menu li:last-child {
  border-bottom: 0;
}
.main-navigation ul .sub-menu li a {
  margin: 0;
  color: #231F20;
  width: 181px;
  padding: 7px 0;
  text-transform: capitalize;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation li:last-child a {
  margin-right: 0;
}
.main-navigation li:last-child.menu-item-has-children:hover .sub-menu {
  right: 0;
  left: auto;
}
.main-navigation li a {
  margin: 0 10px;
  letter-spacing: 1px;
}
.main-navigation a:link,
.main-navigation a:visited {
  display: block;
  text-decoration: none;
  color: #231F20;
  text-transform: uppercase;
  font-size: 14px;
}
.main-navigation .menu-item-has-children:hover .sub-menu {
  top: -5px;
  left: 0;
  z-index: 99999;
  padding-top: 10px;
}

@media screen and (max-width: 960px) {
  .main-navigation.toggled #primary-menu {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #F1F1F2;
  }
  .main-navigation.toggled #primary-menu li {
    float: none;
    border-bottom: 1px solid #231F20;
  }
  .main-navigation.toggled #primary-menu li:last-of-type {
    border-bottom: none;
  }
  .main-navigation.toggled #primary-menu li a {
    margin: 0;
    padding: 20px 25px;
    font-size: 16px;
  }
  .main-navigation.toggled #primary-menu .menu-item-has-children:hover .sub-menu {
    display: block;
  }
  .main-navigation.toggled #primary-menu .menu-item-has-children > a::after {
    background-image: url(images/down-carot.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: " ";
    margin-left: 5px;
    height: 10px;
    width: 10px;
    display: inline-block;
  }
  .main-navigation.toggled #primary-menu .sub-menu {
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 0;
    position: static;
    background: none;
  }
  .main-navigation.toggled #primary-menu .sub-menu li {
    border-bottom: none;
  }
  .main-navigation.toggled #primary-menu .sub-menu li a {
    letter-spacing: 0;
    padding: 5px 25px;
    width: 100%;
  }
  .main-navigation.toggled #primary-menu .sub-menu li:first-of-type a {
    padding-top: 0;
  }
}
.other-locations {
  text-align: right;
  padding-bottom: 5px;
}
.other-locations a img {
  display: inline-block;
  margin-left: 10px;
}
.other-locations .lj-logo img {
  margin-bottom: -20px;
}

header .menu-toggle {
  display: none;
  float: right;
  position: relative;
  background: #231F20;
  border: none;
  font-size: 0;
  height: 30px;
  width: 30px;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  border-radius: 0;
  background: url(images/threelines.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header .menu-toggle:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}
@media screen and (max-width: 960px) {
  header .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  button.menu-toggle {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .menu-main-nav-container {
    clear: both;
  }
}

.wp-caption {
  margin: 1rem 0;
  width: 100% !important;
  text-align: left;
}
.wp-caption.alignleft img {
  float: left;
  width: 180px;
}
@media screen and (max-width: 768px) {
  .wp-caption.alignleft img {
    width: 50%;
    margin: 0 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  .wp-caption.alignleft img {
    width: 100%;
  }
}
.wp-caption .wp-caption-text {
  margin: 0 0 0 33.62%;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #6D6E70;
  min-height: 156px;
}
@media screen and (max-width: 768px) {
  .wp-caption .wp-caption-text {
    clear: left;
    margin: 1rem 0;
    border-bottom: none;
  }
}
.wp-caption:last-of-type .wp-caption-text {
  margin-bottom: 0;
  border-bottom: none;
}

.page-template-page-menu-php .hentry {
  float: right;
  width: 73.75%;
}
.page-template-page-menu-php h1 {
  margin-bottom: 0;
}
.page-template-page-menu-php h2 span {
  font-family: MrsEaves-Roman, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}
.page-template-page-menu-php .entry-content {
  color: #BE1E2D;
}
.page-template-page-menu-php .entry-content p {
  margin-top: 0;
  font-family: MrsEaves-Roman, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-size: 19px;
  line-height: 1.2;
}
.page-template-page-menu-php .entry-content ul {
  padding-left: 16px;
  color: #231F20;
  margin: 5px 0;
}
.page-template-page-menu-php .entry-content ul li {
  padding-bottom: 3px;
}

.menu-course-navigation-menu-container {
  width: 16%;
  float: left;
}
@media screen and (max-width: 960px) {
  .menu-course-navigation-menu-container {
    width: 100%;
    float: none;
  }
}
.menu-course-navigation-menu-container ul {
  list-style: none;
  margin: -10px 0 0;
  padding: 0;
}
@media screen and (max-width: 960px) {
  .menu-course-navigation-menu-container ul {
    margin: 0 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #231F20;
  }
  .menu-course-navigation-menu-container ul:after {
    content: "";
    display: table;
    clear: both;
  }
}
.menu-course-navigation-menu-container li {
  border-bottom: 1px solid #231F20;
}
@media screen and (max-width: 960px) {
  .menu-course-navigation-menu-container li {
    border: 0;
    float: left;
    margin-right: 5%;
    text-align: left;
  }
  .menu-course-navigation-menu-container li:last-of-type {
    margin-right: 0;
  }
}
.menu-course-navigation-menu-container li:last-child {
  border-bottom: none;
}
.menu-course-navigation-menu-container a:link,
.menu-course-navigation-menu-container a:visited {
  display: block;
  font-family: MrsEaves-Italic, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-weight: normal;
  text-decoration: none;
  color: #6D6E70;
  letter-spacing: 1px;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.333;
  padding: 11px 0;
}
@media screen and (max-width: 960px) {
  .menu-course-navigation-menu-container a:link,
.menu-course-navigation-menu-container a:visited {
    padding: 2px 0;
  }
}
.menu-course-navigation-menu-container a:hover {
  color: #231F20;
}

.menu-column strong {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.menu-column h2 {
  margin-top: 40px;
}
.menu-column h2:first-of-type {
  margin-top: 16px;
}

.menu_left_column {
  float: left;
  width: 52.8846153846%;
}

.menu_right_column {
  width: 31.7307692308%;
  float: right;
}
.menu_right_column strong {
  text-transform: inherit;
}
.menu_right_column p {
  margin: 4px 0 8px;
  line-height: 1.5;
}
.menu_right_column h3 {
  font-size: 1rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .menu_right_column,
.menu_left_column {
    width: 100%;
  }
}
.meat-and-three {
  border-bottom: 1px solid #231F20;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.meat-and-three:after {
  content: "";
  display: table;
  clear: both;
}

.menu-content {
  float: right;
  width: 84%;
  padding-left: 10.05769%;
}
@media screen and (max-width: 960px) {
  .menu-content {
    width: 100%;
    padding: 0;
  }
}
.menu-content .hentry {
  float: none;
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
}

.surcharge-copy {
  clear: both;
  width: 100%;
  padding: 2rem 0;
}
.surcharge-copy:after {
  content: "";
  display: table;
  clear: both;
}

.menu-page h1,
.menu-page .entry-content,
.menu-page .entry-content p {
  margin: 0;
}

.page-id-234 .menu_right_column p,
.parent-pageid-234 .menu_right_column p {
  margin-bottom: 12px;
}
.page-id-234 .menu_right_column strong,
.parent-pageid-234 .menu_right_column strong {
  letter-spacing: 0;
}
.page-id-234 .surcharge-copy,
.parent-pageid-234 .surcharge-copy {
  display: none;
}

.page-id-15 .entry-content a:link, .page-id-15 .entry-content a:visited {
  color: #231F20;
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.page-id-15 .entry-content a:hover {
  color: #BE1E2D;
}
.page-id-15 .entry-content a:after {
  content: " »";
  font-family: MrsEaves-Roman, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

.page-id-19 .hentry {
  max-width: 100%;
}
.page-id-19 .entry-content {
  display: flex;
  flex-flow: row wrap;
}
.page-id-19 .entry-content:before {
  display: none;
}
.page-id-19 p {
  width: 25%;
  word-break: break-word;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .page-id-19 p {
    margin-right: 0;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .page-id-19 p {
    width: 100%;
  }
}
.page-id-19 p .locations-link {
  min-height: 130px;
  display: block;
}
@media screen and (max-width: 600px) {
  .page-id-19 p .locations-link {
    display: none;
  }
}
.page-id-19 p a {
  color: #BE1E2D;
  font-weight: normal;
  font-family: FFDINWeb, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.page-template-page-four-column-php .hentry {
  max-width: 100%;
}
.page-template-page-four-column-php .entry-content p {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0 20px 0 0;
  word-break: break-word;
}
@media screen and (max-width: 768px) {
  .page-template-page-four-column-php .entry-content p {
    width: 100%;
  }
}
.page-template-page-four-column-php .entry-content p:nth-of-type(4n) {
  padding-right: 0;
}
.page-template-page-four-column-php .entry-content p:nth-of-type(5) {
  clear: left;
}

.content-area p.btn-group {
  margin-top: -5px;
  margin-bottom: calc(1.5rem + 7px);
}

.content-area .btn-group .btn {
  margin-right: 15px;
  margin-top: 5px;
}

.content-area .btn-group .btn:last-child {
  margin-right: 0;
}

.content-area a.btn:link,
a.btn:visited {
  background-color: #be1e2d;
  color: white;
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  letter-spacing: 0.5px;
  padding: 11px 13px 8px;
  line-height: 1;
  display: inline-block;
}

.content-area a.btn:hover,
a.btn:active {
  color: white;
  text-decoration: underline;
}

.intro {
  font-size: 18px;
  color: #000000;
  font-family: FFDINWeb, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.5;
}

.sn-btn-group > div {
  display: inline-block;
}

.sn-btn {
  background-color: #be1e2d;
  color: white;
  font-family: FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  letter-spacing: 0.5px;
  padding: 11px 13px 8px;
  line-height: 1;
  display: inline-block;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  font-size: 16px;
}
.sn-btn:hover, .sn-btn:focus {
  background-color: #be1e2d;
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

.sn-btn-lg {
  min-height: 47px;
  height: auto;
  width: auto;
}

.sn-modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sn-reservation-time {
  width: 105px;
}
