/*
 * Emigre web font kit 56ea2c9325ac0
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/WebFonts/Mrs-Eaves/Bold
 *
 * © 2016 Emigre, Inc
 */




@font-face {
    font-family: 'mrseavbol';
    src: url('mrseavbol-020415006EmigreWebOnly.eot');
    src: url('mrseavbol-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mrseavbol-020415006EmigreWebOnly.woff2') format('woff2'),
         url('mrseavbol-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mrseavesboldlining';
    src: url('mrseavesboldlining-020415006EmigreWebOnly.eot');
    src: url('mrseavesboldlining-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mrseavesboldlining-020415006EmigreWebOnly.woff2') format('woff2'),
         url('mrseavesboldlining-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
