/*
 * Emigre web font kit 56ea2c9329b8a
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/WebFonts/Mrs-Eaves/Italic
 *
 * © 2016 Emigre, Inc
 */




@font-face {
    font-family: 'mrseavita';
    src: url('mrseavita-020415006EmigreWebOnly.eot');
    src: url('mrseavita-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mrseavita-020415006EmigreWebOnly.woff2') format('woff2'),
         url('mrseavita-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mrseavesitaliclining';
    src: url('mrseavesitaliclining-020415006EmigreWebOnly.eot');
    src: url('mrseavesitaliclining-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('mrseavesitaliclining-020415006EmigreWebOnly.woff2') format('woff2'),
         url('mrseavesitaliclining-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
