.site-header {
  position: relative;
}
.site-title,
.site-description {
  display: none;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-branding {
  float: left;
  margin: 0 10px 10px 0;
  @media screen and (max-width: $break-mid) {
    transform: scale(1.05);
    transform-origin: left;
  }
}
.main-navigation {
  display: block;
  font-family: $font-din;
  @media screen and (max-width: $break-mid) {
    float: none;
  }
  @include fontSize(16px);
  ul {
    float: right;
    list-style: none;
    margin: 26px 0 0;
    padding-left: 0;
    @media screen and (max-width: $break-large) {
      display: none;
    }
    .sub-menu {
      position: absolute;
      top: -2px;
      left: -999em;
      z-index: 99999;
      padding: 2px 12px;
      float: none;
      background: #fff;
      ul {
        left: -999em;
        top: 0;
      }
      li {
        border-bottom: 1px solid #000;
        &:last-child {
          border-bottom: 0;
        }
        a {
          margin: 0;
          color: $black;
          width: 181px;
          padding: 7px 0;
          text-transform: capitalize;
        }
      }
    }
  }
  li {
    float: left;
    position: relative;

    &:last-child {
      a {
        margin-right: 0;
      }

      &.menu-item-has-children:hover .sub-menu {
        right: 0;
        left: auto;
      }
    }

    a {
      margin: 0 10px;
      letter-spacing: 1px;
    }
  }
  a:link,
  a:visited {
    display: block;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 14px;
  }
  .menu-item-has-children:hover .sub-menu {
    top: -5px;
    left: 0;
    z-index: 99999;
    padding-top: 10px;
  }
}
@media screen and (max-width: $break-large) {
  .main-navigation.toggled {
    #primary-menu {
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      z-index: 9999;
      background: $offWhite;
      li {
        float: none;
        border-bottom: 1px solid $black;
        &:last-of-type {
          border-bottom: none;
        }
        a {
          margin: 0;
          padding: 20px 25px;
          font-size: 16px;
        }
      }
      .menu-item-has-children {
        &:hover .sub-menu {
          display: block;
        }
        > a::after {
          background-image: url(images/down-carot.png);
          background-repeat: no-repeat;
          background-position: center center;
          content: " ";
          margin-left: 5px;
          height: 10px;
          width: 10px;
          display: inline-block;
        }
      }
    }
    #primary-menu .sub-menu {
      display: none;

      margin-top: -10px;
      margin-bottom: 10px;
      padding: 0;
      position: static;
      background: none;
      li {
        border-bottom: none;
      }
      li a {
        letter-spacing: 0;
        padding: 5px 25px;
        width: 100%;
      }
      li:first-of-type a {
        padding-top: 0;
      }
    }
  }
}

.other-locations {
  text-align: right;
  padding-bottom: 5px;
  a img {
    display: inline-block;
    margin-left: 10px;
  }
  .lj-logo img {
    margin-bottom: -20px;
  }
}
header .menu-toggle {
  display: none;

  float: right;
  position: relative;
  background: $black;
  border: none;
  font-size: 0;
  height: 30px;
  width: 30px;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  border-radius: 0;

  background: url(images/threelines.png);
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
  }
  @media screen and (max-width: $break-large) {
    display: block;
  }
}
button.menu-toggle {
  @media screen and (max-width: $break-mid) {
    float: right;
  }
}
.menu-main-nav-container {
  @media screen and (max-width: $break-mid) {
    clear: both;
  }
}
