.wp-caption {
  margin: 1rem 0;
  width: 100%!important;
  text-align: left;
  &.alignleft {
    img {
      float: left;
      width: 180px;
      @media screen and (max-width: $break-mid) {
        width: 50%;
        margin: 0 0 1rem;
      }
      @media screen and (max-width: $break-small) {
        width: 100%;
      }
    }
  }
  .wp-caption-text {
    margin: 0 0 0 33.62%;
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
    min-height: 156px;
    @media screen and (max-width: $break-mid) {
      clear: left;
      margin: 1rem 0;
      border-bottom: none;
    }
  }
  &:last-of-type .wp-caption-text {
    margin-bottom: 0;
    border-bottom: none;
  }
}
