.page-id-19 {
    .hentry {
        max-width: 100%;
    }

    .entry-content {
        display: flex;
        flex-flow: row wrap;
        
        &:before {
            display: none;
        }
    }

    p {
        width: 25%;
        word-break: break-word;
        margin-right: 5%;
        @media screen and (max-width: $break-mid) {
            margin-right: 0;
            width: 50%;
        }
        @media screen and (max-width: $break-small) {
            width: 100%;
        }

        .locations-link {
            min-height: 130px;
            display: block;
            @media screen and (max-width: $break-small) {
                display: none;
            }
        }

        a {
            color: $red;
            font-weight: normal;
            font-family: $font-din;
        }
    }
}
