.page-template-page-menu-php {
  .hentry {
    float: right;
    width: percentage(767 / $baseWidth);
  }
  h1 {
    margin-bottom: 0;
  }
  h2 span {
    font-family: $font-mrsevesRoman;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
  }
  .entry-content {
    color: $red;
    p {
      margin-top: 0;
      font-family: $font-mrsevesRoman;
      font-size: 19px;
      line-height: 1.2;
    }
    ul {
      padding-left: 16px;
      color: $black;
      margin: 5px 0;
      li {
        padding-bottom: 3px;
      }
    }
  }
}
.menu-course-navigation-menu-container {
  width: percentage(166.4 / $baseWidth);
  float: left;
  @media screen and (max-width: $break-large) {
    width: 100%;
    float: none;
  }
  ul {
    list-style: none;
    margin: -10px 0 0;
    padding: 0;
    @media screen and (max-width: $break-large) {
      @include clearfix;
      margin: 0 0 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid $darkGrey;
    }
  }
  li {
    border-bottom: 1px solid $darkGrey;
    @media screen and (max-width: $break-large) {
      border: 0;
      float: left;
      margin-right: 5%;
      text-align: left;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  a:link,
  a:visited {
    display: block;
    font-family: $font-mrsevesitalic;
    font-weight: normal;
    text-decoration: none;
    color: $grey;
    letter-spacing: 1px;
    @include fontSize(21px);
    line-height: 1.333;
    padding: 11px 0;
    @media screen and (max-width: $break-large) {
      padding: 2px 0;
    }
  }
  a:hover {
    color: $darkGrey;
  }
}
.menu-column {
  strong {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-dinBold;
  }
  h2 {
    margin-top: 40px;
    &:first-of-type {
      margin-top: 16px;
    }
  }
}
.menu_left_column {
  float: left;
  width: percentage(550 / $baseWidth);
}
.menu_right_column {
  width: percentage(330 / $baseWidth);
  float: right;
  strong {
    text-transform: inherit;
  }
  p {
    margin: 4px 0 8px;
    line-height: 1.5;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: $break-small) {
  .menu_right_column,
  .menu_left_column {
    width: 100%;
  }
}
.meat-and-three {
  @include clearfix;
  border-bottom: 1px solid $darkGrey;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.menu-content {
  float: right;
  width: 84%;
  padding-left: 10.05769%;
  @media screen and (max-width: $break-large) {
    width: 100%;
    padding: 0;
  }
  .hentry {
    float: none;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
  }
}
.surcharge-copy {
  clear: both;
  width: 100%;
  padding: 2rem 0;
  @include clearfix;
}
.menu-page {
  h1,
  .entry-content,
  .entry-content p {
    margin: 0;
  }
}
