//// Mixins
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
