.page-template-page-four-column-php {
  .hentry {
    max-width: 100%;
  }
  .entry-content p {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 20px 0 0;
    word-break: break-word;
    @media screen and (max-width: $break-mid) {
      width: 100%;
    }
    &:nth-of-type(4n) {
      padding-right: 0;
    }
    &:nth-of-type(5) {
      clear: left;
    }
  }
}
