.page-id-15{
  .entry-content{
    a:link, a:visited{
      color: $black;
      font-family: $font-dinBold;
    }
    a:hover{
      color: $red;
    }
    a:after{
      content:" »";
      font-family: $font-mrsevesRoman;
    }
  }
}
