.content-area p.btn-group {
  margin-top: -5px;
  margin-bottom: calc(1.5rem + 7px);
}

.content-area .btn-group .btn {
  margin-right: 15px;
  margin-top: 5px;
}
.content-area .btn-group .btn:last-child {
  margin-right: 0;
}
.content-area a.btn:link,
a.btn:visited {
  background-color: #be1e2d;
  color: white;
  font-family: $font-dinBold;
  letter-spacing: 0.5px;
  padding: 11px 13px 8px;
  line-height: 1;
  display: inline-block;
}
.content-area a.btn:hover,
a.btn:active {
  color: white;
  text-decoration: underline;
}

.intro {
  font-size: 18px;
  color: #000000;
  font-family: $font-din;
  line-height: 1.5;
}

.sn-btn-group > div {
  display: inline-block;
}

.sn-btn {
  background-color: #be1e2d;
  color: white;
  font-family: $font-dinBold;
  letter-spacing: 0.5px;
  padding: 11px 13px 8px;
  line-height: 1;
  display: inline-block;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  font-size: 16px;

  &:hover,
  &:focus {
    background-color: #be1e2d;
    border: none;
    box-shadow: none;
    text-decoration: underline;
  }
}

.sn-btn-lg {
  min-height: 47px;
  height: auto;
  width: auto;
}

.sn-modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sn-reservation-time {
  width: 105px;
}
