a:link,
a:visited {
  color: $black;
}
#page {
  margin: 25px auto;
  padding: 0 1.5em;
  max-width: 1040px;
  @media screen and (max-width: $break-small) {
    padding: 0 1em;
  }
}
.site-header {
  margin: 0 auto;
}
.hero {
  margin: 10px 0 30px;
  width: 100%;
  @media screen and (max-width: $break-large) {
    margin-bottom: 0;
  }
  img {
    display: block;
    margin-bottom: 20px;
  }
}
h1 {
  margin: 0 0 10px;
}
.page-template-default {
  .hentry {
    @media screen and (max-width: $break-large) {
      max-width: 100%;
    }
  }
}
.content-area {
  b,
  strong {
    font-family: $font-dinBold;
    font-weight: normal;
  }
  a:link,
  a:visited {
    text-decoration: none;
    font-weight: normal;
    color: $red;
    &:hover {
      color: $red;
    }
    strong,
    b {
      color: $black;
    }
  }
  strong,
  b {
    a:link,
    a:visited {
      color: $black;
    }
  }
}
.hentry {
  max-width: percentage(780 / $baseWidth);
}
.entry-content {
  margin: 0;
  ul,
  ol {
    margin-left: 0;
    padding-left: 16px;
    li {
      padding-bottom: 3px;
    }
  }
  p {
    margin: 1rem 0;
  }
}
.all-caps {
  text-transform: uppercase;
}
h1,
h2 {
  font-family: $font-mrsevesBold;
  color: $red;
  @include fontSize(20px);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}
h2 + h4 {
  margin-top: -17px;
  font-weight: normal;
}
// Home
.home-hero {
  position: relative;
}
.home {
  h2 {
    margin-top: 0;
  }
  .entry-header {
    background: url(./images/bm3_home_logo.png) no-repeat;
    background-size: 100%;
    height: 94px;
    width: 229px;
    margin: 43px auto 20px;
    font-size: 0;
    text-indent: -9999px;
    @media screen and (max-width: $break-mid) {
      display: none;
    }
    h1 {
      margin: 0;
    }
  }
  .hentry {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    @include fontSize(18px);
    @media screen and (max-width: $break-mid) {
      position: static;
      width: 100%;
    }
    .entry-content {
      // width: percentage(420/$baseWidth);
      width: 390px;
      margin: 0 auto;
      // width: 60%;
      @media screen and (max-width: $break-mid) {
        text-align: left;
        width: 100%;
      }
      h2 {
        font-family: $font-dinBold;
        font-weight: normal;
        color: $black;
        text-transform: none;
        margin-bottom: 0;
      }
      p {
        margin: 0;
        line-height: 24px;
      }
    }
  }
}
.three-col {
  width: 37%;
  float: left;
  padding-right: 3%;
  @media screen and (max-width: $break-mid) {
    width: 100% !important;
    float: none;
  }
  &:last-of-type {
    width: 26%;
    padding: 0;
  }
}
.four-col {
  width: 25%;
  float: left;
}
