// sass --watch style.scss:../style.css

//// Colors
$black              :   #231F20;
$red                :   #BE1E2D;
$offWhite           :   #F1F1F2;
$grey               :   #6D6E70;
$darkGrey           :   #231F20;

//// Fonts
$font-din           :   FFDINWeb, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-dinBold       :   FFDINWebBold, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-mrsevesRoman  :   MrsEaves-Roman, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;;
$font-mrsevesBold   :   MrsEaves-Bold, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;;
$font-mrsevesitalic :   MrsEaves-Italic, "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;;

//// Breakpoints
$break-small        :   600px;
$break-mid          :   768px;
$break-large        :   960px;

$baseWidth          :   1040;


//// Imports of partials
@import "fonts";
@import "functions";
@import "mixins";
@import "underscores_base";
@import "structure";
@import "header";
@import "image-caption";
@import "menu-template";
@import "catering";
@import "press";
@import "location-page";
@import "page-four-columns";
@import "seat-ninja";
